*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ConcurrencyJava/build/
/ConcurrencyJava/dist/
/ConcurrencyJava/
+ build.xml
/ConcurrencyJava/nbproject/

/ReadersWritersProblem/build/
/ReadersWritersProblem/dist/
/ReadersWritersProblem/build.xml
/ReadersWritersProblem/nbproject/